<app-language-switcher variant="floating" />

<p-button
  type="button"
  [rounded]="true"
  [icon]="darkModeIcon()"
  severity="secondary"
  [ariaLabel]="'layout.topbar.toggleTheme' | t"
  (onClick)="layoutService.toggleDarkTheme()"
/>

<div class="relative">
  <p-button
    type="button"
    icon="pi pi-palette"
    [rounded]="true"
    [ariaLabel]="'layout.topbar.themeSettings' | t"
    pStyleClass="@next"
    enterFromClass="hidden"
    enterActiveClass="animate-scalein"
    leaveToClass="hidden"
    leaveActiveClass="animate-fadeout"
    [hideOnOutsideClick]="true"
  />
  <app-configurator [showMenuMode]="false" />
</div>
