<app-floating-theme-switcher />

<div
  class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden"
>
  <div
    class="rounded-[56px] p-[0.3rem]"
    [style.background]="
      'linear-gradient(180deg, ' + style().gradientColor + ' 10%, transparent 30%)'
    "
  >
    <div
      class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 flex flex-col items-center gap-4 rounded-[53px]"
    >
      <div
        class="flex justify-center items-center border-2 rounded-full w-[3.2rem] h-[3.2rem]"
        [class]="style().iconClass"
      >
        <i class="pi pi-fw text-2xl!" [class]="icon()"></i>
      </div>
      <h1
        class="text-surface-900 dark:text-surface-0 font-bold text-4xl lg:text-5xl mb-2 text-center"
      >
        {{ title() | t }}
      </h1>
      <span class="text-muted-color mb-8 text-center">{{ message() | t }}</span>
      <p-button
        [label]="'common.actions.backHome' | t"
        [routerLink]="dashboardPath"
        [severity]="style().buttonSeverity"
      />
    </div>
  </div>
</div>
