<button
  type="button"
  class="layout-topbar-action"
  [attr.aria-label]="darkModeToggleLabel()"
  (click)="layoutService.toggleDarkTheme()"
>
  <i
    class="pi"
    [class.pi-moon]="layoutService.isDarkTheme()"
    [class.pi-sun]="!layoutService.isDarkTheme()"
  ></i>
</button>

<div class="relative">
  <button
    type="button"
    class="layout-topbar-action layout-topbar-action-highlight"
    aria-label="Mavzu sozlamalari"
    pStyleClass="@next"
    enterFromClass="hidden"
    enterActiveClass="animate-scalein"
    leaveToClass="hidden"
    leaveActiveClass="animate-fadeout"
    [hideOnOutsideClick]="true"
  >
    <i class="pi pi-palette"></i>
  </button>
  <app-configurator />
</div>
